*{
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(41, 44, 46);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	align-items: center;
	font-family: Arial;
}

.data_diri {
	font-size: 15pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: left;
	margin-bottom: 20px;
}

.anak_ayam {
	width: 100px;
	margin-bottom: 50px;
	background-repeat: repeat-y;
}

.anak_ayam1 {
	width: 100px;
	margin-bottom: 50px;
	background-repeat: repeat-y;
}

.form_input {
	padding: 20px 30px;
	background-color: #808080;
	width: 500px;
	border-radius: 2%;
	border: 2px solid #000;
}

.text {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 20pt;
	background-color: rgb(46, 49, 51);
	color: #fff;
	padding: 10px 0;
}

.label {
	font-size: 15pt;
	text-align: left;
	padding-bottom: 10px;
	
}

input {
	margin-bottom: 10px;
	padding: 10px 0;
	width: 100%;
	border: none;
	font-size: 15pt;
	border-radius: 5%;
}

button {
	background-color: aquamarine;
	border: none;
	padding: 10px 0;
	width: 100%;
	cursor: pointer;
	font-size: 10pt;
	margin-bottom: 20px;
	border-radius: 5%;
}

button:hover {
	background-color: rgb(46, 49, 51);
	color: white;
}