* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(41, 44, 46);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	font-family: Arial;
	color: #fff;
}

p {
	font-size: 10pt;
	border: 5px solid #808080;
	padding: 10px;
}

.bisa {
	text-align: center;
}